@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=spinwerad:wght@500&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-spinwerad: spinwerad;
  --font-kanit: Kanit;

  /* font sizes */
  --font-size-8xl: 27px;
  --font-size-6xl: 25px;
  --font-size-20xl: 39px;
  --font-size-15xl: 34px;
  --font-size-153xl: 172px;
  --font-size-9xl: 28px;
  --font-size-439xl: 458px;
  --font-size-93xl: 112px;
  --font-size-76xl: 95px;
  --font-size-xl-5: 20.5px;
  --font-size-12xl: 31px;
  --font-size-4xl: 23px;
  --font-size-mid: 17px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #002244;
  --color-whitesmoke: #edecec;
  --color-dodgerblue: #0a8ffc;
  --color-darkslateblue: #0c4f92;

  /* Border radiuses */
  --br-lgi: 19px;
  --br-9xl: 28px;
  --br-mid: 17px;
  --br-7xl: 26px;
  --br-mini: 15px;
}

.resize-none {
  resize: none;
}
.form-error{
  font-size: 12px;
  color: red;
  margin-left: 2px;
}
.popup-message {
  position: fixed;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: #1D92FB;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.message {
  font-size: 16px;
  color:#fff; /* Blue color */
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  animation: fadeOut 3s forwards; /* Animation duration */
}


.loading-line {
  width: 100%;
  height: 3px; /* Adjust thickness as needed */
  background-color: #fff; /* Blue color */
  margin-bottom: 8px; /* Adjust spacing from message */
  animation: loading 3s linear forwards; /* Animation duration */
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* CSS for the image animation */
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  transition: transform 0.4s ease;
  transform: translateY(100%);
}

.overlay h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.overlay p {
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 1.5;
}

.social-icon-container {
  transition: fill 0.3s; 
}

.social-icon-container:hover {
  fill: black; 
}




.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000; /* Ensure navbar stays on top of other content */
}

.wrapper {
  
  margin: 0 auto;
  padding: 30px 20px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white; /* Change text color as needed */
  text-decoration: none;
  font-size: 20px; /* Adjust font size as needed */
}

.nav-links {
  
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0px ;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;

}

/* Mega Menu Styling */

.mega-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff; /* Change background color as needed */
  padding: 20px;
  display: none;
  z-index: 999;
  transition: opacity 0.3s ease; /* Add transition effect */
  opacity: 0; /* Initially hidden */
}

.mega-menu:hover .mega-box,
.mega-box:hover {
  display: block;
  opacity: 1; /* Show dropdown and set opacity to 1 when hovered */
}

/* Add this CSS to prevent the dropdown from disappearing when hovering over it */
.mega-menu:hover .mega-box,
.mega-box:hover {
  display: block;
}
.content {
  display: flex; /* Use flexbox */
}

.content > div {
  flex: 1; /* Each div occupies equal space */
  margin-right: 10px; /* Add spacing between divs */
}

.content > div:last-child {
  margin-right: 0; /* Remove margin from last div to prevent extra spacing */
}
.linkshead{
  font-size: 18px;
  font-weight: 600;
  margin-left: 0px;
  
}


.main {
  display: flex;
}

.main p {
  margin-right: 20px;
}

.mega-links {
  list-style: none;
  padding: 0;
}

.mega-links li {
  margin-bottom: 10px;
}

.mega-links li a {
  color: black; /* Change text color as needed */
  text-decoration: none;
  font-size: 15px;
  
}

/* Responsive Styling (optional) */

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .mega-menu:hover .mega-box {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-links {
    padding-top: 60px; /* Adjust padding for smaller screens */
  }

  .menu-toggle {
    display: block;
  }

  .wrapper {
    position: relative;
  }
}