@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


body {
  background: #292930;
  color: #ffffff;
}

a {
  color: #ffffff;
}

h5 {
  color: #F1F026;
}

.brandWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 7.5rem;
}

.brandContainer {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.aboutWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 7.5rem;
}

.aboutContainer {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex; 
  align-items: center;
}


.aboutTitle {
  font-size: 4.25rem;
  margin-bottom: 2rem;
}

.aboutSubtitle {
  font-size: 1.25rem;
  color: #F89E52;
  margin-bottom: 2rem;
}

.aboutContent {
  padding-right: 3rem;
  width: 50%;
  margin-right: auto;
}


.aboutContent p {
  color: #7E7E8C;
  line-height: 1.7em;
  margin-bottom: 3.75rem;
}

.aboutActions .arrow {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f89e52;
  margin-right: 18px;
  transition: all 0.3s ease-out 0s;
}

.aboutActions a {
  display: inline-flex;
    align-items: center;
}

.counterWrapper {
  width: 100%;
  display: flex;
  margin-bottom: -4.3125rem;
}

.counterContainer {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex; 
  align-items: center;
}

.counter-item-wrap {
  display: flex;
  align-items: center;
  background: #1d1d25;
    border-radius: 20px;
    padding: 3.125rem 3rem;
    box-shadow: 0px 44px 64px rgba(0, 0, 0, 0.15);
}

.counter-item {
  display: flex;
    align-items: center;
    position: relative;
    padding: 0 3rem;
}

.counter-item:before {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 2px;
  background: #35354F;
  border-radius: 1px;
}

.counter-item:last-child::before {
	display: none;
}

.counter-item > span {
  font-weight: 700;
    font-size: 40px;
    color: #fff;
    display: block;
    margin-right: 25px;
}

.counter-item p {
  margin-bottom: 0;
    font-weight: 500;
    color: #fff;
    font-size: 1.125rem;
    opacity: 0.7;
}

.counter-item p span {
  display: block;
}


.servicesWrapper {
  width: 100%;
  display: flex;
  padding: 12.5rem 0 5.625rem;
  background-color: #1D1D25;
}

.servicesContainer {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex; 
  align-items: center;
  flex-direction: column;
}


.servicesTitle {
  font-size: 3.4375rem;
  margin-bottom: 2rem;
}

.servicesSubtitle {
  font-size: 1.25rem;
  color: #F89E52;
  margin-bottom: 2rem;
}

.servicesContent-center {
  text-align: center;
  width: 100%;
}

.servicesBoxWarpper {
  display: flex;
  gap: 0.9375rem;
}


.services-item-two {
  padding: 45px 35px 40px;
  border-radius: 20px;
  transition: .3s;
  margin-bottom: 30px;
  cursor: pointer;
}

.services-item-two h4 a {
  transition: .3s;
}

.services-item-two:hover {
  background: #292930;
}

.services-item-two:hover h4 a {
  color: #f89e52;
}

.services-icon-two {
  margin-bottom: 4.375rem;
  min-height: 67px;
}

.services-content-two p {
  margin-bottom: 0;
  color: #A0A0A0;
  opacity: 0.7;
  text-transform: capitalize;
  transition: .3s;
  line-height: 1.7;
}

.services-icon-two img {
  max-width: 66px;
}

.services-content-two .title {
  margin-bottom: 0.75rem;
  color: #fff;
  font-size: 1.5rem;
}

.creativeWorkWrapper {
  width: 100%;
  display: flex;
  padding: 12.5rem 0 5.625rem;
  background-color: #1D1D25;
  background-image: url(/h2_project_shape.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #292930;
}

.creativeWorkContainer {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex; 
  align-items: center;
  flex-direction: column;
}

.creativeWorkTitle {
  font-size: 3.4375rem;
  margin-bottom: 2rem;
}

.creativeWorkSubtitle {
  font-size: 1.25rem;
  color: #F89E52;
  margin-bottom: 2rem;
}

.creativeWorkContent {
  display: flex;
  flex-direction: column;
}

.creativeWorkContent-center {
  text-align: center;
  width: 100%;
  max-width: 740px;
  margin: 0 auto 3.75rem;
}

.creativeWorkContent-center p {
  color: #7E7E8C;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
}

.creativeWorkBoxWarpper {
  display: flex;
  gap: 0.9375rem;
}

.project-menu-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.project-menu-nav button {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 18px;
  color: #fff;
  margin: 0 27px;
  position: relative;
  padding-bottom: 12px;
}

.project-menu-nav button.active {
  color: #f89e52;
}

.project-menu-nav button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 28px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
}

.project-menu-nav button.active::before {
  opacity: 1;
}

.project-wrapper {
  columns: 3;
  column-gap: 2rem;
}

.project-item-two {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}

.project-thumb-two {
  border-radius: 18px;
  overflow: hidden;
}

.project-thumb-two img {
  width: 100%;
}

.project-content-two {
  position: absolute;
  left: 22px;
  right: 22px;
  bottom: 22px;
  box-shadow: 0px 35px 54px rgba(61, 90, 125, 0.13);
  border-radius: 10px;
  background: #1d1d25;
  padding: 25px 30px;
  transition: .4s ease-in-out;
  transform: translateY(150px);
  opacity: 0;
}

.project-item-two:hover .project-content-two {
  transform: translateY(0);
  opacity: 1;
}

.packagesWrapper {
  width: 100%;
  display: flex;
  background-color: #292930;
  padding: 0 0 8rem 0;
}

.packagesContainer {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex; 
  align-items: center;
  flex-direction: column;
}

.packagesTitle {
  font-size: 3.4375rem;
  margin-bottom: 2rem;
}

.packagesSubtitle {
  font-size: 1.25rem;
  color: #F89E52;
  margin-bottom: 2rem;
}

.packagesContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.packagesContent-center {
  text-align: center;
  width: 100%;
  max-width: 740px;
  margin: 0 auto 3.75rem;
}

.packagesContent-center p {
  color: #7E7E8C;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
}

.pricingPackagesWarpper {
  display: flex;
  max-width: 1150px;
  margin: 0 auto;
  justify-content: center;
}

.pricing-area .section-title .title {
	margin-bottom: 20px;
}
.pricing-area .section-title p {
	text-transform: capitalize;
	width: 55%;
	margin: 0 auto;
	color: var(--tg-gray-three);
}
.pricing-item {
	background: #1d1d25;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 45px 50px;
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
	overflow: hidden;
  width: 33%;
}
.pricing-icon {
	position: absolute;
	top: -58px;
	right: -60px;
	width: 182px;
	height: 182px;
	background: #161620;
	border-radius: 50%;
	display: flex;
	align-items: flex-end;
	padding: 28px;
    font-size: 60px;
    color: #f89e52;
	z-index: -1;
}
.pricing-top {
	width: 75%;
}
.pricing-top .title {
	font-size: 24px;
	margin-bottom: 24px;
	color: #fff;
}
.pricing-top p {
	margin-bottom: 32px;
	color: #aeaeae;
  line-height: 1.7;
}
.pricing-price .price {
	display: flex;
	margin-bottom: 35px;
	font-size: 35px;
	color: #fff;
	letter-spacing: 2.15px;
	line-height: 1;
}
.pricing-price .price span {
	font-size: 16px;
	color: var(--tg-silver-two);
	font-weight: 400;
}
.pricing-price .price strong {
	font-weight: 400;
	font-size: 16px;
	margin-top: auto;
	color: var(--tg-silver-two);
}
.pricing-list .title {
	color: #fff;
	margin-bottom: 15px;
	font-size: 16px;
	letter-spacing: 0.145455px;
}
.pricing-list .list-wrap {
	margin-bottom: 25px;
}
.pricing-list .list-wrap li {
	display: flex;
	align-items: baseline;
	font-size: 15px;
	margin-bottom: 5px;
	color: #aeaeae;
}
.pricing-list .list-wrap li:last-child {
	margin-bottom: 0;
}
.pricing-list .list-wrap li i {
	color: #1b9a81;
	margin-right: 10px;
}
.btn {
  user-select: none;
  border: medium none;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1;
  margin-bottom: 0px;
  padding: 28px 55px;
  text-align: center;
  text-transform: capitalize;
  touch-action: manipulation;
  transition: all 700ms ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.pricing-btn .btn {
	display: block;
	font-size: 16px;
	color: #0b0b0b;
	font-weight: 700;
	background: #fff;
	padding: 22px 55px;
}
.pricing-btn .btn:hover {
	color: #f89e52;
}
.pricing-item.active {
	background: #f89e52;
	border: none;
	padding: 68px 50px;
  margin-top: -1.5rem;
    margin-bottom: -0.5rem;
}
.pricing-item.active .pricing-icon {
	background: #E68839;
}
.pricing-item.active .pricing-list .list-wrap li i,
.pricing-item.active .pricing-list .list-wrap li,
.pricing-item.active .pricing-top p {
	color: #fff;
}
.pricing-item.active .pricing-price .price strong,
.pricing-item.active .pricing-price .price span {
	color: #DEEDFF;
}
.pricing-item.active .pricing-btn .btn {
	color: #f89e52;
}
.pricing-item.active .pricing-btn .btn:hover {
	color: #000;
}
.packagesWrapper .pricing-tab {
	margin-bottom: 60px;
}
.packagesWrapper .nav-tabs {
	border-bottom: none;
	display: inline-flex;
	padding: 11px 14px;
	border-radius: 10px;
}
.packagesWrapper .nav-tabs .nav-link {
	margin-bottom: 0;
	background: transparent;
	border: none;
	font-size: 16px;
	border-radius: 10px;
	padding: 10px 27px;
	color: #fff;
	font-weight: 400;
}
.packagesWrapper .nav-tabs .nav-link.active {
	box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.08);
	font-weight: 700;
	background: #f89e52;
}

.fa-check {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" fill="%231b9a81"/></svg>');
  background-position: 50%;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.pricing-item.active .fa-check {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" fill="%23fff"/></svg>');
}

.pricing-item-wrap .pricing-tab {
	margin-bottom: 60px;
}
.packagesWrapper .nav-tabs {
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
	border-bottom: none;
	display: inline-flex;
	background: #000;
	padding: 11px 14px;
	border-radius: 10px;
  margin: 0 auto 5rem;
}

.packagesWrapper .nav-tabs .nav-link {
	margin-bottom: 0;
	background: transparent;
	border: none;
	font-size: 16px;
	border-radius: 10px;
	padding: 10px 27px;
	color: #fff;
	font-weight: 400;
}

.packagesWrapper .nav-tabs .nav-link.active {
	box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.08);
	font-weight: 700;
	background: #f89e52;
}

.workingStepsWrapper {
  width: 100%;
  display: flex;
  background-color: #1D1D25;
  padding: 6.875rem 0 7.5rem;
}

.workingStepsContainer {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex; 
  align-items: center;
}

.workingStepsTitle {
  font-size: 3.4375rem;
  margin-bottom: 2rem;
}

.workingStepsSubtitle {
  font-size: 1.25rem;
  color: #F89E52;
  margin-bottom: 2rem;
}

.workingStepsContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 6rem;
}

.workingStepsContent-center {
  text-align: center;
  width: 100%;
  max-width: 740px;
  margin: 0 auto 3.75rem;
}

.workingStepsContent-center p {
  color: #7E7E8C;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
}

.col-img-working-steps {
  width: 50%;
  justify-content: center;
  display: flex;
}

.workingStepsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.workingStepsListItem {
  display: flex;
  align-content: center;
  gap: 1.5rem;
}

.workingStepsList h3 {
  margin-bottom: 0.5rem;
}

.workingStepsList p {
  color: #B8B8C5B3;
  font-weight: 400;
  line-height: 1.7em;
  padding-right: 7rem;
}

.workingStepsListContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
}


.testimonailWrapper {
  width: 100%;
  display: flex;
  background-color: #292930;
  padding: 6.875rem 0 5rem 0;
}

.testimonailContainer {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex; 
  align-items: center;
  flex-direction: column;
}

.testimonailTitle {
  font-size: 3.4375rem;
  margin-bottom: 2rem;
}

.testimonailSubtitle {
  font-size: 1.25rem;
  color: #F89E52;
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.footer-content hr {
  border: 0;
  border-top: 1px solid #46464F;
  margin: 2rem 0;
}

.footer-content-center {
 text-align: center;
 margin-bottom: 1rem;
 width: 630px;
 margin: 0 auto;
}

.footer-content-center p {
  margin-top: 2rem;
  color: #B8B8C5B3;
    font-weight: 400;
    line-height: 1.7em;
}

.footer-btm-content {
  display: flex;
  justify-content: space-between;
}

.social-media-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimonailItemsWrapper {
  display: flex;
  gap: 1rem;;
}


.testimonial-item-two {
	border-radius: 20px;
	background: #1d1d25;
	text-align: center;
	padding: 40px 30px;
}
.testimonial-content-two .rating {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}
.testimonial-content-two .rating i {
	color: var(--tg-yellow-two);
	font-size: 24px;
	letter-spacing: 2px;
}
.testimonial-content-two .rating i:last-child {
	color: var(--tg-silver-three);
}
.testimonial-content-two p {
	margin-bottom: 40px;
	color: var(--tg-gray-four);
	text-transform: capitalize;
	line-height: 1.5;
}
.testimonial-info-two .thumb {
	margin-bottom: 10px;
}
.testimonial-info-two .thumb img {
	max-width: 50px;
	border-radius: 50%;
	margin: 0 auto;
}
.testimonial-info-two .content .title {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 5px;
	color: var(--tg-white);
}
.testimonial-info-two .content span {
	display: block;
	text-transform: capitalize;
	font-size: 14px;
	color: var(--tg-dark-electric);
}
.testimonial-area-two .row {
	margin: 0 -10px;
}
.testimonial-area-two .row [class*="col-"] {
	padding: 0 10px;
}
.testimonial-active-two .slick-dots li button {
	border-color: var(--tg-dark-electric);
}