@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=spinwerad:wght@500&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-spinwerad: spinwerad;
  --font-kanit: Kanit;

  /* font sizes */
  --font-size-8xl: 27px;
  --font-size-6xl: 25px;
  --font-size-20xl: 39px;
  --font-size-15xl: 34px;
  --font-size-153xl: 172px;
  --font-size-9xl: 28px;
  --font-size-439xl: 458px;
  --font-size-93xl: 112px;
  --font-size-76xl: 95px;
  --font-size-xl-5: 20.5px;
  --font-size-12xl: 31px;
  --font-size-4xl: 23px;
  --font-size-mid: 17px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #002244;
  --color-whitesmoke: #edecec;
  --color-dodgerblue: #0a8ffc;
  --color-darkslateblue: #0c4f92;

  /* Border radiuses */
  --br-lgi: 19px;
  --br-9xl: 28px;
  --br-mid: 17px;
  --br-7xl: 26px;
  --br-mini: 15px;
}

.resize-none {
  resize: none;
}
.form-error{
  font-size: 12px;
  color: red;
  margin-left: 2px;
}

.popup-message {
  position: fixed;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: #1D92FB;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.message {
  font-size: 16px;
  color:#fff; /* Blue color */
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  animation: fadeOut 3s forwards; /* Animation duration */
}


.loading-line {
  width: 100%;
  height: 3px; /* Adjust thickness as needed */
  background-color: #fff; /* Blue color */
  margin-bottom: 8px; /* Adjust spacing from message */
  animation: loading 3s linear forwards; /* Animation duration */
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* CSS for the image animation */
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  transition: transform 0.4s ease;
  transform: translateY(100%);
}

.overlay h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.overlay p {
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 1.5;
}

.social-icon-container {
  transition: fill 0.3s; 
}

.social-icon-container:hover {
  fill: black; 
}

/* Navbar mega menu */


/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
}


.wrapper {
  margin: 0 auto;
  padding: 30px 20px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}

/* Mega Menu Styling */
.mega-box {
  position: fixed;
  top: 72px;
  left: 30%; 
  width: calc(40% - 20px); 
  max-width: calc(40% - 20px);
  background-color: #ffffff;
  padding: 25px 20px 20px 20px; 
  border-radius: 12px;
  display: none;
  z-index: 1000;
}

.mega-menu:hover .mega-box,
.mega-box:hover {
  display: block;
}

.mega-box::before {
  content: '';
  position: absolute;
  top: -17px; /* Adjust as per your design */
  left: 18%; 
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}


.mega-menu:hover .mega-box,
.mega-box:hover {
  animation: showMegaMenu 1s forwards;
}

@keyframes showMegaMenu {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}


.content {
  display: flex;
}

.content > div {
  flex: 1;
  margin-right: 10px;
}

.content > div:last-child {
  margin-right: 0;
}

.main {
  display: flex;
}

.main p {
  margin-right: 20px;
}

.mega-links {
  list-style: none;
  padding: 0;
}

.mega-links li {
  margin-bottom: 15px;
}

.mega-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s; /* Add smooth transition */
}

.mega-links li p{
  font-size: 12px;
  font-weight: 100;
  color: rgb(141, 137, 137);
  cursor: pointer;
}

.mega-links li h3{
  font-size: 13px;
  font-weight: 100;
  color: rgb(141, 137, 137);
}

.mega-links li:hover a {
  color: #0a8ffc;
  transform: scale(1.1); 
}
.mega-links li .tech-text {
  color: black;
  font-size: 14px;
  font-weight: 500;
}


@media screen and (min-width: 2056px) and (max-width: 3056px) {
  .mega-box::before {
    left: 30%; 
  }
}
@media screen and (min-width: 1824px) and (max-width: 2056px) {
  .mega-box::before {
    left: 25%;
  }
}
@media screen and (min-width: 1675px) and (max-width: 1824px) {
  .mega-box::before {
    left: 20%; 
  }
}
@media screen and (max-width: 1445px) {
  .mega-box::before {
    left: 16%; 
  }
}
